<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- startup annotation driver -->
  <mvc:annotation-driven conversion-service="conversionService"/>
  <mvc:default-servlet-handler/>

  <!--
      scan logical code fragment
      use-default-filters: To cancel the default behavior, in Spring MVC, you only need to scan the Controller
      and dispatch it to the DispatcherServlet.
  -->
  <context:component-scan base-package="edu.tyut.controller" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
  </context:component-scan>

  <aop:aspectj-autoproxy/>

  <!-- configuration for view resolver -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="WEB-INF/pages/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <!-- file upload -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="defaultEncoding" value="utf-8"/>
  </bean>

  <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
      <list>
        <bean class="edu.tyut.converter.PageDateConverter"/>
      </list>
    </property>
  </bean>

  <!-- interceptor -->
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/login"/>
      <bean class="edu.tyut.interceptor.LoginInterceptor"></bean>
    </mvc:interceptor>
  </mvc:interceptors>
</beans>